<ion-content class="ion-padding ion-text-center center">
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-img src="assets/icon/icon-abel.png" class="ion-justify-content-center" style="height: 120px; width: 150px; margin-top: 30%;"></ion-img>
  </ion-row>
  <ion-title>abel</ion-title>

  <ion-list>
    <ion-item>
      <ion-input placeholder="username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" fill="solid" color="primary" (click)="login()">Sign in</ion-button>
</ion-content>