<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab2">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifikasi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
