<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Notifikasi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" (click)="goCreate()" *ngIf="user_id == 'guru'">create</ion-button>

  <ion-list>
    <ion-list-header>
      List of Notifications
    </ion-list-header>

    <ion-item *ngFor="let notif of data_notif">
      <ion-label>
        <h2>{{notif.judul_notif}}</h2>
        <h4>from: {{notif.guru.nama_guru}}</h4>
        <h4>to: {{notif.kelas.nama_kelas}}</h4>
        <p>{{notif.isi_notif}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>