<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Jadwal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Senin
    </ion-list-header>

    <ion-item *ngFor="let jadwal of data_jadwal">
      <ion-label>
        <h3>{{jadwal.waktu_awal}} <small>-</small> {{jadwal.waktu_akhir}}</h3>
        <h2>{{jadwal.mapel.nama_mapel}}</h2>
        <p>{{jadwal.guru.nama_guru}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>