<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" fill="outline" color="danger" name="logout" (click)="logout()">Sign out</ion-button>
  
</ion-content>