<ion-header>
  <ion-toolbar>
    <ion-title>Create Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form onsubmit="addNotif(event)">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input name="judul_notif"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Kelas</ion-label>
      <ion-select name="kelas_id">
        <ion-select-option>XII-RPL-1</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea name="isi_notif"></ion-textarea>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Push Notification</ion-button>
    </div>
  </form>
  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" (click)="back()">Back</ion-button>
  </div>
</ion-content>